/MvcApplication1/*.suo
/MvcApplication1/_ReSharper.MvcApplication1
/MvcApplication1/MvcApplication1/bin
/MvcApplication1/MvcApplication1/obj
/MvcApplication1/MvcApplication1/*.user
/MvcApplication1/packages
