@{
    ViewBag.Title = "Home Page";
}
<div class="span12">
    <div class="hero-unit">
        <h1>
            Welcome to Offwind!</h1>
        <p>
            This is a start page, where you can choose what to work with.</p>
        <p>
            <a class="btn btn-primary btn-large">CFD</a>
            or
            <a class="btn btn-primary btn-large">Engineering Tools</a>
        </p>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h2>CFD</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn btn-info" href="#">Go to CFD &raquo;</a>
            </p>
        </div>
        <div class="span6">
            <h2>Engineering Tools</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn btn-info" href="#">Go to Engineering Tools &raquo;</a>
            </p>
        </div>
    </div>
</div>
